<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-plan-edit" th:object="${plan}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">业务主表ID：</label>
                <div class="col-sm-8">
                    <input id="busid" name="busid" th:field="*{busid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">表名称：</label>
                <div class="col-sm-8">
                    <input id="tableName" name="tableName" th:field="*{tableName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">执行状态 1.成功 2.失败：</label>
                <div class="col-sm-8">
                    <input id="dealStatus" name="dealStatus" th:field="*{dealStatus}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">执行时间：</label>
                <div class="col-sm-8">
                    <input id="dealTime" name="dealTime" th:field="*{dealTime}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "ods/plan"
		$("#form-plan-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-plan-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
